th {
  background-color: #eef0ee;
}

caption {
  color: #2fa4e7;
  font-size: 20px;
}
.userimg{
  width: 40px;
  border: 2px solid #2fa4e7;
  border-radius: 4px;
  max-height: 40px;
  margin-right: 4px;
}
